<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'hm' %}">Restaurant
    <!-- <img src="bird.jpg" alt="logo" style="width:40px;"> -->
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ab' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ct' %}">Contact</a>
    </li>
  </ul>
</nav>